@using MVCTask.Services
@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCTask.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCTask</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse d-sm-inline-flex justify-content-between collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(Constants.RolAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="ListUsers">Users list</a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownLanguage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item" asp-action="ChangeLanguage" asp-controller="home" asp-route-lang="es-ES" asp-route-returnUrl="@Context.Request.Path">
                                    <img src="https://cdn.countryflags.com/thumbs/spain/flag-400.png" width="30" class="img-fluid">
                                    Spanish
                                </a>
                                <a class="dropdown-item" asp-action="ChangeLanguage" asp-controller="home" asp-route-lang="en-US" asp-route-returnUrl="@Context.Request.Path">
                                    <img src="https://www.countryflags.com/wp-content/uploads/united-kingdom-flag-png-large.png" width="32" class="img-fluid">
                                    English
                                </a>
                            </div>
                        </li>
                        <li class="nav-item mt-2">
                            <span class="mr-2">Language selected: @CultureInfo.CurrentCulture.Name</span>
                            @if (@CultureInfo.CurrentCulture.Name == "es-ES") {
                                <img src="https://cdn.countryflags.com/thumbs/spain/flag-400.png" width="30" class="img-fluid" title="Spanish">
                            } else {
                                <img src="https://www.countryflags.com/wp-content/uploads/united-kingdom-flag-png-large.png" width="32" class="img-fluid" title="English">
                            }
                 
                        </li>
                    </ul>
                    <partial name="_LinksLogin" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MVCTask - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <partial name="_TranslationsJS" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/knockoutjs/3.5.1/content/scripts/knockout-3.5.1.debug.js"></script>
    <script src="~/lib/knockoutjs/3.5.1/content/scripts/knockout-3.5.1.js"></script>
    <script src="https://kit.fontawesome.com/6fbdbd90cc.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
