@model LoginViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    ViewBag.Title = @localizer["Login"];
}

<div class="card card-login">
    <h1 class="bg-gradient text-center">@localizer["Login"]</h1>
    @if (ViewData.Keys.Contains("message"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
        </div>
    }
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control w-50" autocomplete="username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control w-50" autocomplete="new-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="RememberMe" />
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>

            <button class="btn-primary btn">@localizer["Login"]</button>
            <div class="align-self-center mt-3">
                <span>@localizer["WithOutAccount"]?</span>
                <a class="link-dark text-info text-decoration-none" asp-controller="users" asp-action="register">@localizer["CreateAccount"]</a>

                @* <div class="mt-3 text-center" style="margin-right: 3%"> *@
                @*     <a class="link-dark text-info text-decoration-none" asp-action="forgetMyPassword">Forgot your password?</a> *@
                @* </div> *@

                <div class="mt-3 text-center" style="margin-right: 3%">
                    <a asp-controller="Users" asp-action="ExternalLogin" asp-route-provider="Microsoft" class="link-dark text-info text-decoration-none">
                        <svg style="width: 25px;color: blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 32h214.6v214.6H0V32zm233.4 0H448v214.6H233.4V32zM0 265.4h214.6V480H0V265.4zm233.4 0H448V480H233.4V265.4z" /></svg>
                       @localizer["LoginWithMicrosoft"]?
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}